html{
   overflow-x: hidden; 
}

#fondo_inicio {
    background-color: #EDEDED;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
    display: block;
    z-index: 1; 
}

div h2 {
    text-align: center;
    font-weight: bold;
    font-family: times;
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

@media (min-width: 1366px){
    #bar_principal{
        margin-top:auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;    
    }

    #bar_menu{
        margin-top:auto;
        padding-top: 3rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
    }

    #estilo_card{
        width: 35rem; 
        top: 6rem; 
        left: 25rem;
        margin-bottom: 15rem;
    }

    #text_h2{
        margin-left: 20px;
        margin-right: 95px;
    }

    #estilo_card_data{
        width: 71rem;
        top: .2rem; 
        left: 0rem;
        right: 1rem;
        margin-bottom: 4rem;
        
    }

    #estilo_card_form_list{
        margin-left: 15px;
        margin-right: -50px;
    }

    hr{
        margin-right: 95px;
    }

    #table_menu{
        border-spacing: 0px;
    }

    #text-size{
        font-size: 18px;
    }

    #text-size-data{
        font-size: 26px;
        font-family: perpetua;
    }

    #text-size-titulo{
        font-size: 28px;
        font-family: times;
    }
    
    form{
        margin-left: 30px;
    }
    
    #text_card{
        margin-right: 50px;
    }

    #fondo_text{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-family:cursive;
        line-height: 20px;
        font-size: 40px;
        margin-top: 11px;
        margin-bottom: 0px;
    }
    
    #user_text{
        font-family: Arial;
        margin-right: 15px;
        font-size: 16px;
        text-align: end;
    }

    #estilo_list{
        margin-top: 5rem;
        margin-left: 7rem; 
        margin-right: 7rem;
        margin-bottom: 7rem;
    }

    #estilo_card_list{
        width: 93%; 
        left: 50px; 
        right: 50px;
        top: 2px;
        margin-left: 5px; 
        margin-bottom: 2px;
    }

    #estilo_card_pedido{
        width: 40rem; 
        top: 6rem; 
        left: 26rem;
        margin-bottom: 8rem;
    }

    #estilo_list_pedido{
        margin-top: 3em; 
        margin-left: 15em; 
        margin-right: 15em;
    }

    #estilo_card_form{
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 5px;
        margin-right: -50px;
    }

    #estilo_card_sesion{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #estilo_bottom{
        margin-right: 6em;
    }

    #font-size{
        font-style: italic;
        font-size: 22px;
        text-decoration: underline;
    }
    
    #flecha_left{
        margin-top: 13rem;
        margin-left: -10rem;
    }

    #flecha_right{
        margin-top: -3.1rem; 
        margin-right: -150rem;
    }

    #flecha_size{
        width: 50;
        height: 50;
    }

    #img_margen{
        width: 25%;
        margin-left: .5rem !important;
        margin-right: .5rem !important;
        margin-top: .3rem !important;
        margin-bottom: .3rem !important;
        border-radius: .3rem !important;
    }

    #row_margen{
        margin-left: 4rem !important;
        margin-right: -2.5rem !important;
    }

    #boton_ingresar{
        margin-right: -1rem;
    }
}

@media (min-width: 1920px){
    #bar_principal{
        margin-top:auto;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;    
    }

    #bar_menu{
        margin-top:auto;
        padding-top: 5rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
    }

    #estilo_card{
        width: 35rem; 
        top: 8rem; 
        left: 42rem;
        margin-bottom: 20rem;
    }

    #text_h2{
        margin-left: 25px;
        margin-right: 75px;
    }

    #estilo_card_data{
        width: 90rem;
        top: .2rem; 
        left: 0rem;
        right: 1rem;
        margin-bottom: 4rem;
        
    }

    #estilo_card_form_list{
        margin-left: 15px;
        margin-right: -50px;
    }

    hr{
        margin-right: 95px;
    }

    #table_menu{
        border-spacing: 0px;
    }

    #text-size{
        font-size: 18px;
    }

    #text-size-data{
        font-size: 26px;
        font-family: perpetua;
    }

    #text-size-titulo{
        font-size: 28px;
        font-family: times;
    }
    
    form{
        margin-left: 30px;
    }
    
    #text_card{
        margin-right: 50px;
    }

    #fondo_text{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-family:cursive;
        line-height: 50px;
        font-size: 45px;
        margin-top: 11px;
    }
    
    #user_text{
        font-family: Arial;
        margin-right: 15px;
        font-size: 16px;
        text-align: end;
    }

    #estilo_list{
        margin-top: 7rem;
        margin-left: 15em; 
        margin-right: 15em;
        margin-bottom: 7rem;
    }

    #estilo_card_list{
        width: 95%; 
        left: 50px; 
        right: 50px;
        top: 2px;
        margin-left: 5px; 
        margin-bottom: 2px;
    }

    #estilo_card_pedido{
        width: 40rem; 
        top: 8rem; 
        left: 40rem;
        margin-bottom: 10rem;
    }

    #estilo_list_pedido{
        margin-top: 3em; 
        margin-left: 15em; 
        margin-right: 15em;
    }

    #estilo_card_form{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 15px;
        margin-right: -50px;
    }

    #estilo_card_sesion{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #estilo_bottom{
        margin-right: 4em;
    }

    #font-size{
        font-style: italic;
        font-size: 22px;
        text-decoration: underline;
    }

    #flecha_left{
        margin-top: 21rem;
        margin-left: -15rem;
    }

    #flecha_right{
        margin-top: -3.8rem; 
        margin-right: -213rem;
    }

    #flecha_size{
        width: 60;
        height: 60;
    }

    #img_margen{
        width: 25%;
        margin-left: .75rem !important;
        margin-right: .7rem !important;
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
        border-radius: .3rem !important;
    }

    #row_margen{
        margin-left: 3rem !important;
        margin-right: -2.5rem !important;
    }

    #boton_ingresar{
        margin-right: -.5rem;
    }
}